html, body {
    height: 100%;
}

	body {
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    display: table;
	    font-weight: 100;
	    font-family: 'Lato';
		background-color: #C8f7C5;
	}

	.container {
	    text-align: center;
	    vertical-align: middle;
		background-color: #A2DED0;
		width: 70%;
		height:100vh;
		margin-left: 15%;
		display: inline-block;
		  flex-wrap: nowrap;
		  justify-content: flex-start;
		  align-items: stretch;
		  align-content: stretch;
	}

	.content {
	    text-align: center;                
	}
	.content2 {
	    text-align: center;    
		margin-top: 3%;
		position:relative;
		z-index: 10;			
	}
	.content3 {
	    text-align: center;    
		margin-top: 7%;	
		background-color: #52D3C2;	
		font-family:"PlayRegular";		
		text-align : justify;		
		
	}
	.parrafo{
		padding-top: 2%;	
		margin-left: 7%;	
		margin-right: 7%;	
		padding-bottom: 2%;	
	}
	.title {
	    font-size: 62px;
		margin-top: 3%;
		font-family:"PlayRegular";
		color:#C8f7A0;
		text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
		z-index: 10;
	}

	.button {
		position:relative;
		display: inline-block;
		border-radius: 8px;
		background-color: #C8f7A0;
		border: none;
		color: #000000;
		text-align: center;
		font-family:"PlayRegular";
		font-size: 28px;
		padding: 20px;
		width: 400px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 5px;
		z-index: 10;
	}

	.button span {
	  	cursor: pointer;
	  	display: inline-block;
	  	position: relative;
	  	transition: 0.5s;
	}

	.button span:after {
	  	content: '>';
	  	position: absolute;
	  	opacity: 0;
	  	top: 0;
	  	right: -20px;
	  	transition: 0.5s;
	}

	.button:hover span {
	  padding-right: 25px;
	}

	.button:hover span:after {
	  opacity: 1;
	  right: 0;
	}
	footer{
		position:fixed;
		bottom:0px;
		margin-left: 15%;
		width: 70%;
		z-index: 3;
	}
	img.waves{
		top:15%;
		position:absolute;
		width: 100vw;
		height: auto;
		filter:grayscale(1);
		-webkit-filter: grayscale(1);
		z-index: 1;
	}
	@media screen and (max-width:599px){
	.right-top-corner {
		position:absolute;
		right:15%;
		color:#C8f7C5;
		font-size: 100px;
		top:-5%;
	}
	.right-top{
		position:absolute; 
		right:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top:-16%;
	}
	.right-mid{
		position:absolute; 
		right:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 4%;
	}
	.right-bot{
		position:absolute; 
		right:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 14%;
	}
	.right-bot-corner{
		position:absolute; 
		right:15%; 
		color:#C8f7C5; 
		font-size: 100px; 
		top: 55%;
	}



	.left-top-corner {
		position:absolute;
		left:15%;
		color:#C8f7C5;
		font-size: 100px;
		top:-5%;
	}
	.left-top{
		position:absolute; 
		left:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top:-16%;
	}
	.left-mid{
		position:absolute; 
		left:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 4%;
	}
	.left-bot{
		position:absolute; 
		left:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 14%;
	}
	.left-bot-corner{
		position:absolute; 
		left:15%; 
		color:#C8f7C5; 
		font-size: 100px; 
		top: 55%;
	}
}
@media screen and (min-width: 1330px) {
	.right-top-corner {
		position:absolute;
		right:15%;
		color:#C8f7C5;
		font-size: 100px;
		top:-5%;
	}
	.right-top{
		position:absolute; 
		right:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top:-16%;
	}
	.right-mid{
		position:absolute; 
		right:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 4%;
	}
	.right-bot{
		position:absolute; 
		right:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 14%;
	}
	.right-bot-corner{
		position:absolute; 
		right:15%; 
		color:#C8f7C5; 
		font-size: 100px; 
		top: 55%;
	}



	.left-top-corner {
		position:absolute;
		left:15%;
		color:#C8f7C5;
		font-size: 100px;
		top:-5%;
	}
	.left-top{
		position:absolute; 
		left:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top:-16%;
	}
	.left-mid{
		position:absolute; 
		left:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 4%;
	}
	.left-bot{
		position:absolute; 
		left:13.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 14%;
	}
	.left-bot-corner{
		position:absolute; 
		left:15%; 
		color:#C8f7C5; 
		font-size: 100px; 
		top: 55%;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1329px) {
	.right-top-corner {
		position:absolute;
		right:15%;
		color:#C8f7C5;
		font-size: 100px;
		top:-5%;
	}
	.right-top{
		position:absolute; 
		right:13.5%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top:-18%;
	}
	.right-mid{
		position:absolute; 
		right:13.5%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 4%;
	}
	.right-bot{
		position:absolute; 
		right:13.5%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 14%;
	}
	.right-bot-corner{
		position:absolute; 
		right:15%; 
		color:#C8f7C5; 
		font-size: 100px; 
		top: 55%;
	}



	.left-top-corner {
		position:absolute;
		left:15%;
		color:#C8f7C5;
		font-size: 100px;
		top:-5%;
	}
	.left-top{
		position:absolute; 
		left:13.5%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top:-18%;
	}
	.left-mid{
		position:absolute; 
		left:13.5%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 4%;
	}
	.left-bot{
		position:absolute; 
		left:13.5%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 14%;
	}
	.left-bot-corner{
		position:absolute; 
		left:15%; 
		color:#C8f7C5; 
		font-size: 100px; 
		top: 55%;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
	.right-top-corner {
		position:absolute;
		right:15%;
		color:#C8f7C5;
		font-size: 100px;
		top:-5%;
	}
	.right-top{
		position:absolute; 
		right:13.2%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top:-18%;
	}
	.right-mid{
		position:absolute; 
		right:13.2%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 4%;
	}
	.right-bot{
		position:absolute; 
		right:13.2%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 14%;
	}
	.right-bot-corner{
		position:absolute; 
		right:15%; 
		color:#C8f7C5; 
		font-size: 100px; 
		top: 55%;
	}



	.left-top-corner {
		position:absolute;
		left:15%;
		color:#C8f7C5;
		font-size: 100px;
		top:-5%;
	}
	.left-top{
		position:absolute; 
		left:13.2%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top:-18%;
	}
	.left-mid{
		position:absolute; 
		left:13.2%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 4%;
	}
	.left-bot{
		position:absolute; 
		left:13.2%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 14%;
	}
	.left-bot-corner{
		position:absolute; 
		left:15%; 
		color:#C8f7C5; 
		font-size: 100px; 
		top: 55%;
	}
}
@media screen and (min-width: 600px) and (max-width: 999px) {
	.right-top-corner {
		position:absolute;
		right:15%;
		color:#C8f7C5;
		font-size: 100px;
		top:-5%;
	}
	.right-top{
		position:absolute; 
		right:11.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top:-18%;
	}
	.right-mid{
		position:absolute; 
		right:11.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 4%;
	}
	.right-bot{
		position:absolute; 
		right:11.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 14%;
	}
	.right-bot-corner{
		position:absolute; 
		right:15%; 
		color:#C8f7C5; 
		font-size: 100px; 
		top: 55%;
	}



	.left-top-corner {
		position:absolute;
		left:15%;
		color:#C8f7C5;
		font-size: 100px;
		top:-5%;
	}
	.left-top{
		position:absolute; 
		left:11.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top:-18%;
	}
	.left-mid{
		position:absolute; 
		left:11.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 4%;
	}
	.left-bot{
		position:absolute; 
		left:11.8%; 
		color:#C8f7C5; 
		font-size: 210px; 
		top: 14%;
	}
	.left-bot-corner{
		position:absolute; 
		left:15%; 
		color:#C8f7C5; 
		font-size: 100px; 
		top: 55%;
	}
}